.card-container {
    width: 100%;
    height: 320px;
    display: flex;
    flex-direction: column;
    margin: 6px;
    border: 1px solid black;
}

.card-white {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    color: black;
}

.card-black {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: black;
    color: whitesmoke;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 47%;
}

.movie-info span {
    font-size: 22px;
    padding: 4px;
    text-align: center;
}

.card-black span {
    padding-left: 40px;
}

.video-parent {
    width: 50%; 
    height: 100%
}

#Sledgehammer {
    background-image: url('../public/Sledgehammer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center
}

/* @media (max-width: 768px) {
    .card-white,
    .card-black,
    .video-parent
      {
      flex-direction: column;
      width: 100%;
    }
    .move-info {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .movie-info span {
        font-size: 15px;
        padding: 4px;
    }
    .card-black span {
        padding-left: 0px;
    }
} */
  
@media (max-width: 768px) {
    .card-white,
    .card-black,
    .video-parent {
      flex-direction: column;
      width: 100%;
    }
    
    .movie-info {
      flex-direction: column;
      width: 100%;
    }
    
    .movie-info span {
      font-size: 13px;
      padding: 4px;
      text-align: center;
    }
    
    .card-black span {
      padding-left: 0px;
    }
  }
  